.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-image img {
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-title {
    margin-top: 0;
    font-size: 18px;
}

.book-info {
    margin-bottom: 5px;
}
