* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

ul > li {
    display: flex;
    margin-right: 2em;
}

.navbar-brand {
    margin-right: 15em;
}

.navbar-links {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-right: 10em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
}

.hero-content > * {
    margin: 3em;
}